<main xmlns:th="http://www.thymeleaf.org" data-th-fragment="fragm-list-encheres">
    <h2 data-th-text="#{fragment-list-encheres.title}">List of articles // add in .propeties</h2>

        <form data-th-action="@{/accueil/filter}" method="get">
            <div>
                <label for="search" data-th-text="#{fragment-list-encheres.filter.name}"></label>
                <input type="search" name="search" id="search">
                <label for="categories" data-th-text="#{fragment-list-encheres.categories}"></label>
                <select name="categories" id="categories">
                    <option data-th-text="#{fragment-list-encheres.categories.it}" data-th-value="${2}"></option>
                    <option data-th-text="#{fragment-list-encheres.categories.furniture}" data-th-value="${1}"></option>
                    <option data-th-text="#{fragment-list-encheres.categories.sport-hobbies}" data-th-value="${3}"></option>
                    <option data-th-text="#{fragment-list-encheres.categories.clothes}" data-th-value="${4}"></option>
                </select>
            </div>
            <button type="submit" data-th-text="#{fragment-list-encheres.search}" id="recerche"></button>
        </form>

    <section>
        <article data-th-each="item : ${articleAVendre}">
            <img src="" alt="" srcset="">
            <div>
                <h3 data-th-text="#{fragment-list-encheres.item.title} + ': ' + ${item.nom}"></h3>
                <p data-th-text="#{fragment-list-encheres.item.price} + ': ' + ${item.prixVente}"></p>
                <p data-th-text="#{fragment-list-encheres.item.final-date} + ': ' + ${item.dateFinEncheres}"></p>
                <p data-th-text="#{fragment-list-encheres.item.seller} + ': ' + ${item.vendeur.prenom} +' ' + ${item.vendeur.nom}"></p>
            </div>
        </article>
    </section>
</main>
