<form xmlns:th="http://www.thymeleaf.org" data-th-fragment="fragm-form-user(action)"
      data-th-action="@{${action}}" data-th-object="${user}" method="post">
    <div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>

    <section id="info-fields">
        <ul>
            <li>
                <label class="label-field" for="pseudo" data-th-text="#{page-new-user.nickname}"></label>
                <input type="text" name="pseudo" id="pseudo" data-th-disabled="${#authorization.expression('isAuthenticated()')}" data-th-field="*{pseudo}"></li>
            <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('pseudo')}"></div>
            <li>
                <label class="label-field" for="nom" data-th-text="#{page-new-user.surname}"></label>
                <input type="text" name="nom" id="nom" data-th-field="*{nom}">
            </li>
            <li>
                <label class="label-field" for="prenom" data-th-text="#{page-new-user.name}"></label>
                <input type="text" name="prenom" id="prenom" data-th-field="*{prenom}">
            </li>
            <li>
                <label class="label-field" for="email" data-th-text="#{page-new-user.email}"></label>
                <input type="text" name="email" id="email" data-th-field="*{email}">
            </li>
            <li>
                <label class="label-field" for="telephone" data-th-text="#{page-new-user.telephone}"></label>
                <input type="text" name="telephone" id="telephone" data-th-field="*{telephone}">
            </li>
            <li>
                <label class="label-field" for="rue" data-th-text="#{page-new-user.street}"></label>
                <input type="text" name="rue" id="rue" data-th-field="${user.adresse.rue}">
            </li>
            <li>
                <label class="label-field" for="postal-code" data-th-text="#{page-new-user.postcode}"></label>
                <input type="text" name="postal-code" id="postal-code" data-th-field="${user.adresse.codePostal}">
            </li>
            <li>
                <label class="label-field" for="ville" data-th-text="#{page-new-user.city}"></label>
                <input type="text" name="ville" id="ville" data-th-field="${user.adresse.ville}">
            </li>

            <li>
                <label class="label-field" for="pswd" data-th-text="#{page-new-user.pswd}"></label>
                    <input type="password" name="pswd" id="pswd" data-th-field="*{motDePasse}">
            </li>
            <li>
                <label class="label-field" for="pswdconf" data-th-text="#{page-new-user.conf}"></label>
                <input type="password" name="pswdconf" id="pswdconf">
            </li>
            <th:block data-th-if="${#authorization.expression('isAuthenticated()')}">
                <label class="label-field" for="credit" data-th-text="#{page-new-user.credit}"></label>
                <input type="text" disabled name="credit" id="credit" data-th-field="${user.credit}">
            </th:block>

        </ul>
    </section>
    <section id="new-user-buttons">
        <th:block data-th-if="${!#authorization.expression('isAuthenticated()')}">
            <button type="submit" data-th-text="#{page-new-user.create}" id="buttonCreateAccount"></button>
            <button type="reset" data-th-text="#{page-new-user.cancel}"></button>
<!--            <script src="/scripts/page-new-user-password-confirmation.js"></script>-->
        </th:block>
        <th:block data-th-if="${#authorization.expression('isAuthenticated()')}">
            <button type="reset">----------------</button>
            <button type="submit">++++++++++++++++</button>
        </th:block>
    </section>
</form>