<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="fragm-head">
    <a id="accueil" data-th-href="@{/accueil}">
        <img src="/images/Logo.jpg">
        <h1 data-th-text="#{fragment-head.main.title}"></h1>
    </a>
    <nav>
        <ul>
            <li id="TousLesArticles" data-th-if="${#authorization.expression('isAuthenticated()')}">
                <a data-th-href="@{/accueil}" data-th-text="#{fragment-head.main.articles-list}"></a>
            </li>
            <li data-th-if="${#authorization.expression('isAuthenticated()')}">
                <a data-th-href="@{/vendre}" data-th-text="#{fragment-head.main.sell}"></a>
            </li>
            <li data-th-if="${#authorization.expression('isAuthenticated()')}">
                <a data-th-href="@{/users/profile}" data-th-text="#{fragment-head.main.profile}"></a>
            </li>
            <li data-th-if="${#authorization.expression('isAuthenticated()')}">
                <a href="/logout" data-th-text="#{fragment-head.main.disconnection}"></a>
            </li>
            <li data-th-if="${!#authorization.expression('isAuthenticated()')}">
                <a href="/login" data-th-text="#{fragment-head.main.login}"></a>
            </li>
        </ul>
    </nav>
</header>