*{
    font-family: fira sans, sans-serif;
    font-size: 5fr;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

header a {
    display: flex;
}
header img {
    height: 60px;
    width: 60px;
    margin-top: 0.3rem;
}

h1 {
    font-size: 3.5rem;
}
h2{
    font-size: 2rem;
    display: flex;
    justify-self: center;
}
header li {
    list-style: none;
    display: inline-block;
}
button{
    height: 50px;
    width: 200px;
    background-color: tomato;
    margin: 5%;
    color: white;
    font-size: inherit;
}
footer{
    position: relative;
    margin-top: 50px;
    background-color: tomato;
    color: white;
    text-align: center;
    width: 100%;
    height: 30px;
}

@media screen and (min-width: 1300px) {
    body {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size:1.5rem;
    }
    #accueil {
        height:max-content;
    }
    li {
        font-size:1rem;
    }
    #TousLesArticles{
        visibility: hidden;
    }
    header li{
        display: flex;
        flex-direction: column;
    }

}