*{
    font-family: fira sans, sans-serif;
    font-size: 5fr;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 3.5rem;
}
h2{
    font-size: 2rem;
    display: flex;
    justify-self: center;
}
header li {
    list-style: none;
    display: inline-block;
}
button{
    height: 50px;
    width: 200px;
    background-color: tomato;
    margin: 5%;
    color: white;
    font-size: inherit;
}
footer{
    position: static;
    margin-top: 50px;
    background-color: tomato;
    color: white;
    text-align: center;
    width: 100%;
    height: 30px;
}

@media screen and (min-width: 1300px) {
    body {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}