<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout(titrePage=~{::title},
                                                                                    pageComponents=~{::main},
                                                                                    additionalResources=~{::#css})}">

<head>
    <title data-th-text="#{page-accueil.title}"></title> <!--add in properties-->
    <th:block id="css">
<!--        <link rel="stylesheet" data-th-href="@{/css/demo-form.css}">-->
        <link rel="stylesheet" data-th-href="@{/css/accueil-page.css}">
    </th:block>
</head>

<body>

    <main data-th-replace="~{fragments/fragment-list-encheres :: fragm-list-encheres}"></main>
</body>

</html>