<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout(titrePage=~{::title},
                                                                                    pageComponents=~{::main},
                                                                                    additionalResources=~{::#css})}">

<head>
    <title data-th-text="#{page-new-user.title}"></title>
    <th:block id="css">
        <link rel="stylesheet" data-th-href="@{/css/user-form.css}">
    </th:block>
</head>
<body>
<main>
    <h2 data-th-text="#{page-new-user.title}"></h2>
    <div data-th-replace="~{fragments/fragment-user-form :: fragm-form-user( ~{})}"></div>

</main>
<!--<script data-th-src="@{/scripts/page-new-user-password-confirmation.js}"></script>-->

</body>

</html>