<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout(titrePage=~{::title},
                                                                                    pageComponents=~{::main},
                                                                                    additionalResources=~{:: #ressources-css})}">

<head>
    <meta charset="UTF-8">
    <title data-th-text="#{vente.title}"></title>
    <th:block id="ressources-css">
        <link rel="stylesheet" data-th-href="@{/css/general.css}">
        <link rel="stylesheet" data-th-href="@{/css/vente.css}">
    </th:block>
</head>

<body>
<main>
    <form th:action="@{/vente}" method="post">

        <div th:if="${param.error}" data-th-text="#{vente.error}"></div>
        <div id="info-form">
        </div>
    </form>
</main>
</body>
</html>