<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout(titrePage=~{::title},
                                                                                    pageComponents=~{::main},
                                                                                    additionalResources=~{:: #ressources-css})}">

<head>
    <meta charset="UTF-8">
    <title data-th-text="#{vente.title}"></title>
    <th:block id="ressources-css">
        <link rel="stylesheet" data-th-href="@{/css/general.css}">
        <link rel="stylesheet" data-th-href="@{/css/vente.css}">
    </th:block>
</head>

<body>
<main>
    <form th:action="@{/vente}" method="post">

        <div th:if="${param.error}" data-th-text="#{vente.error}"></div>
        <div id="info-form">
            <ul>
                <li>
                    <label data-th-text="#{vente.article.nom}"></label>
                    <input name="article"/>
                </li>
                <li>
                    <label data-th-text="#{vente.article.description}"></label>
                    <input name="description"/>
                </li>
                <li>
                    <label data-th-text="#{vente.article.categorie}"></label>
                    <select data-th-field="*{categorie}">
                        <option data-th-each="categorie : ${categories}"
                                data-th-value="${categorie.id}"
                                data-th-text="${categorie.libelle}">
                        </option>
                    </select>
                </li>
                <li>
                    <label data-th-text="#{vente.article.photo}"></label>
                    <button type="submit" data-th-text="#{vente.article.upload}"/>
                </li>
                <li>
                    <label data-th-text="#{vente.article.prix}"></label>
                    <input name="prix" value="0" min="0"/>
                </li>
                <li>
                    <label data-th-text="#{vente.article.date.debut}"></label>
                    <input type="date" id="start" name="article-start" data-th-value="${dateDebut}" data-th-min="${dateDebut}" data-th-max="2024-12-31"/>
                </li>
                <li>
                    <label data-th-text="#{vente.article.date.fin}"></label>
                    <input type="date" id="end" name="article-end" data-th-value="${dateFin}" data-th-min="${dateFin}" data-th-max="2025-01-01"/>
                </li>
                <li>
                    <label data-th-text="#{vente.article.adresse}"></label>
                    <select>
                        <option data-th-each="ad : ${adresses}"
                                data-th-value="${ad.id}"
                                data-th-text="${ad.complement}+${ad.rue}+${ad.codePostal}+${ad.ville}">
                        </option>
                    </select>
                </li>
                <li>
                    <button type="submit" data-th-text="#{vente.article.submit}"/>
                    <button data-th-href="@{/accueil}" data-th-text="#{vente.article.annuler}"/>
                </li>
            </ul>
        </div>
    </form>
</main>
</body>
</html>